__pycache__/

Pipfile
Pipfile.lock

api/db.sqlite3
api/ibis/migrations
api/users/migrations
api/tracker/migrations
api/notifications/migrations

api/api/fixtures

env
lib
bin
include
api/static
config.json

*.log