django
django-allauth
django-cors-headers
django-filter
django-model-utils
django-rest-auth[with_social]
django-rest-framework
django-rest-swagger
django-extensions
django-annoying
graphene_django
python-dateutil
paypal-checkout-serversdk
